/*!
 * simpleBtChecks v1.1.1
 * http://joelthorner.com
 *
 * Copyright 2015 Joel Thorner - @joelthorner
 */
/* recomended for all inputs to transform (visual javascript bad effects onload script) 

    input[type='checkbox']{
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0px;
        margin: -1px;
        overflow: hidden;
        clip: rect(0px, 0px, 0px, 0px);
        border: 0px none;
    }
    
    option: disable or change selector 'input[type='checkbox']' ^ ^ ^
*/
input[type='checkbox'] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0px, 0px, 0px, 0px);
  border: 0px none;
}
.sbtc-btn {
  outline: none !important;
  cursor: pointer;
  line-height: 1.42857143;
  text-align: center;
  margin: 0px 0px 2px 0px;
  padding: 0px;
  -webkit-transition: border-color ease-in-out 0.15s, background-color ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, background-color ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, background-color ease-in-out 0.15s;
}
.sbtc-icon {
  line-height: 1;
  display: block;
  padding-right: 3px;
}
.sbtc-default {
  width: 16px;
  height: 16px;
  font-size: 12px;
  border-radius: 4px;
}
.sbtc-default .sbtc-icon {
  margin-top: -2px;
  padding-right: 0px;
}
.sbtc-x-2 {
  width: 32px;
  height: 32px;
  font-size: 24px;
  border-radius: 8px;
}
.sbtc-x-2 .sbtc-icon {
  margin-top: -2px;
  padding-right: 1px;
}
.sbtc-x-3 {
  width: 48px;
  height: 48px;
  font-size: 36px;
  border-radius: 12px;
}
.sbtc-x-3 .sbtc-icon {
  margin-top: -1px;
  padding-right: 3px;
}
