$border-radius:     4px;
$font-size-base :   12px;
$size-base:         16px;
$padding-base:      1px;
// colors
$color-icon:        #555;
$color-border:      #ccc;
$background-check:  #fff;



.sbtc-bootstrap{
	padding: 0;
	line-height: 1;

	.sbtc-icon{
		// line-height: normal;

		// display: block;
		// line-height: 1;
		// display: block;
		// // padding-right: 3px;
		// margin-top: -2px;
		// padding-right: $padding-base;
	}

	&.sbtc-default{
		// width: $size-base;
		// height: $size-base;
		// font-size: $font-size-base;
		border-radius: $border-radius;
	}

	&.sbtc-x-2{
		// width: $size-base * 2;
		// height: $size-base * 2;
		// font-size: $font-size-base * 2;
		border-radius: $border-radius * 2;
		padding: 2px;

		& .sbtc-icon{
			// margin-top: -2px;
			// padding-right: $padding-base;
		}
	}

	&.sbtc-x-3{
		// width: $size-base * 3;
		// height: $size-base * 3;
		// font-size: $font-size-base * 3;
		border-radius: $border-radius * 3;
		padding: 4px;

		& .sbtc-icon{
			// margin-top: -1px;
			// padding-right: $padding-base + 2;
		}
	}
}

.sbtc-default{
	width: $size-base;
	height: $size-base;
	font-size: $font-size-base;
}

.sbtc-x-2{
	width: $size-base * 2;
	height: $size-base * 2;
	font-size: $font-size-base * 2;
}

.sbtc-x-3{
	width: $size-base * 3;
	height: $size-base * 3;
	font-size: $font-size-base * 3;
}

.sbtc-initialized{
	// .sr-only bootstrap
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0px;
	margin: -1px;
	overflow: hidden;
	clip: rect(0px, 0px, 0px, 0px);
	border: 0px none;
}

.sbtc-btn{
	overflow: hidden;
}

// not use bootstrap
.sbtc-no-bt{
	padding: 0;
	line-height: 1.2;

	&.sbtc-default{
		width: $size-base;
		height: $size-base;
		font-size: $font-size-base;
	}

	.sbtc-icon{
		color: transparent;
		&:before{
			display: none;
		}
		&:after{
			content: "\2714";
			font-family: inherit;
		}
		&.sbtc-checked-icon{
			color: inherit;
		}
	}
	
	&.sbtc-button{
		cursor: pointer;
		line-height: 0;
		text-align: center;
		margin: 0px 0px 2px 0px;
		padding: 0px;
		border-radius: 0;

		// transition: border-color ease-in-out .15s, background-color ease-in-out .15s;
	}
}